spring:
  application:
    name: video-streaming-service
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
server:
  port: 8091
management:
  tracing:
    sampling:
      probability: 1