# Use root/example as user/password credentials

services:

  db:
    image: mysql:latest
    restart: always
    environment:
       MYSQL_DATABASE: root
       MYSQL_ROOT_PASSWORD: root
    ports:
      - 3306:3306
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - dbdata:/var/lib/mysql
volumes:
  dbdata:

    # (this is just an example, not intended to be a production configuration)
