# Use root/example as user/password credentials

services:

  db:
    image: mysql:latest
    restart: always
    environment:
       MYSQL_DATABASE: root
       MYSQL_ROOT_PASSWORD: root
    ports:
      - 3306:3306
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - exampleNetwork
  sonarqube:
      image: sonarqube:latest
      container_name: sonarqube
      restart: always
      ports:
        - "9000:9000"
      volumes:
        - sonarqube_data:/opt/sonarqube/data
        - sonarqube_extensions:/opt/sonarqube/extensions
        - sonarqube_logs:/opt/sonarqube/logs
      depends_on:
        - db
      networks:
        - exampleNetwork
volumes:
  dbdata:
  sonarqube_data:
    sonarqube_extensions:
    sonarqube_logs:
networks:
    exampleNetwork:

    # (this is just an example, not intended to be a production configuration)
