spring:
  application:
    name: movie-catalog-service
  datasource:
    url: jdbc:mysql://localhost:3306/micro?createDatabaseIfNotExist=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
  config:
    import: optional:configserver:http://localhost:8888

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
server:
  port: 8090

management:
  tracing:
    sampling:
      probability: 1