spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          search-locations:
  profiles:
    active: native
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
server:
  port: 8888

